@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-dark-950;
    @apply accent-primary-300;
    @apply scroll-smooth;
  }
}

.Select-menu-outer {
  z-index: 999 !important;
}

.DateInput_input__focused {
  @apply border-b-primary-400;
}

.DateInput_input {
  @apply text-dark-900 py-1 text-base font-normal;
  padding: 0.3rem 0.5rem;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  @apply bg-primary-500 border-primary-200;
}

.CalendarDay__selected_span,
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  @apply bg-primary-300 border-primary-200;
}

.DayPicker_weekHeader_ul {
  @apply flex p-0;
}

.DayPicker_transitionContainer {
  height: 385px !important;
}

.CalendarMonth_caption > strong {
  @apply text-dark-900 font-normal;
}

.CalendarDay {
  @apply p-0;
  padding-top: 6px;
}

@layer components {
  /* .my-react-select-container {
  } */
  .my-react-select-container .my-react-select__control {
    @apply bg-white dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500;
  }

  .my-react-select-container .my-react-select__control--is-focused {
    @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
  }

  .my-react-select-container .my-react-select__menu {
    @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600;
  }

  .my-react-select-container .my-react-select__option {
    @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800;
  }
  /* .my-react-select-container .my-react-select__option--is-focused {
    @apply bg-neutral-200 dark:bg-neutral-800;
  } */

  .my-react-select-container .my-react-select__indicator-separator {
    @apply bg-neutral-400;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-neutral-600 dark:text-neutral-200;
  }
}

path.react-flow__edge-path:hover {
  stroke-width: 4;
}

/* hamburger menu button: https://css-tricks.com/line-animated-hamburger-menu/ */
.line {
  fill: none;
  stroke: currentColor;
  stroke-width: 6;
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
}
.line2 {
  stroke-dasharray: 60 60;
}
.line3 {
  stroke-dasharray: 60 207;
}
.opened.line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.opened.line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
.opened.line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
