@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-dark-900;
  }
}

/* Show placeholder on contenteditable components */
[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
}

/* Make inputs full height when empty (to make them easily clickable) */
.editable-block:empty::after {
  content: '.';
  visibility: hidden;
}

/* Remove MacOS/iOS scroll bouncing */
body {
  overscroll-behavior-y: none;
}
